.App {
  text-align: center;
  color:#CCCCCC;
  padding: 10px;
  margin: 10px;
}

.App logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App h1{
  color: white;
  padding: 10px;
}
.App p{
	white-space: pre;
}
.App header {
	-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-ms-transform:scale(0.8);
transform:scale(0.8);
	text-align: left;
  
  width: '60%';
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 0px  10px 10px 10px;
}

.App link {
  color: #61dafb;
}

.App Form{
	
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App Info{
	background-color: #200000;
    color: white;
	padding: 10px;
}

.App GoogleMap{
	align-items: center;
}